/* html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing:inherit;
} */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:active, input:focus {
    outline: none;
  }
  input::-moz-focus-inner {
    border: 0;
  }
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
}
.container{
    width: 79%;
    margin: auto;
}
.container2{
    width: 70%;
    margin: auto;
}
.info-line{
    background-color: #1A68B5;
    height: 27px;
    display: flex;
    align-items: center;
}
.phone-contact{
    color: white;
}
.email-contact{
    color: white;
    margin-left: 80px;
}
.icon-phone, .icon-mail{
    padding-right: 10px;
}

.navbar{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu-item{
    list-style: none;
}
.menu-item-link{
    text-decoration: none;
    font-weight: 400;
    color: #393939;
    transition: all 0.5s ease-in-out;
    padding-bottom: 5px;
    margin: 8px;
}
.menu-item-link:hover{
    color: #1A68B5;
}
.underline{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.underline:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #1A68B5;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.underline:hover:before{
    right: 0;
}
.kontakt-button{
    padding: 10px 25px;
    background-color: #1A68B5;
    color: white;
    border: 2px solid #1A68B5;
    transition: all 0.5s ease-in-out;
}
.kontakt-button:hover{
    color: #1A68B5;
    background-color: white;
}

.slide-1{
    background-image: url(../img/slogan-slider1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.slide-2{
    background-image: url(../img/slogan-slider2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.slide-3{
    background-image: url(../img/slogan-slider3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.slide-info{
    width: 635px;
    height: 228px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide-info-h3{
    color: #393939;
    font-size: 48px;
    font-weight: 800;
}
.slide-info-p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    margin-top: 3px;
}
.slide-info-button{
    padding: 10px 25px;
    background-color: #1A68B5;
    color: white;
    border: 2px solid #1A68B5;
    transition: all 0.5s ease-in-out;
    margin-top: 30px;
    font-size: 14px;
}
.slide-info-button:hover{
    color: #1A68B5;
    background-color: transparent;
}
.slider-arrows{
    position: relative;
}
.slider-arrow-left{
    top: 375px;
    left: -83px;
}
.slider-arrow-right{
    top: -321px;
    left: 1167px;
}
.slick-dots li button::before {
    position: relative !important;
    top: -80px !important;
    font-size: 30px !important;
    color: #FFFFFF !important;
    content: '■' !important;
    opacity: 1 !important;
}
.slick-dots li.slick-active button::before {
    color: #1A68B5 !important;
    content: '■' !important;
    opacity: 1 !important;
}
.o-nas{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.o-nas-img{
    border: 2px solid #1A68B5;
    width: 238px;
    height: 270px;
}
.o-nas-inner-img{
    transform: translate(23px, -23px);
}
.o-nas-info{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.onas-subtitle-h2{
    color: #4040401C;
    font-size: 50px;
    font-weight: 900;
}
.o-nas-title-inside{
    transform: translate(33px,-40px);
}
.onas-title-h3{
    color: #393939;
    font-size: 24px;
    font-weight: 900;
}
.onas-p{
    font-weight: 400;
    font-size: 14px;
    color: #393939;
    line-height: 19px;
}

.o-nas-bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.o-nas-bottom-img-div{
    border:2px solid #1A68B5;
    width: 80px;
    height: 80px;
}
.o-nas-bottom-img{
    transform: translate(11px, 10px);
}
.name{
    font-size: 16px;
    font-weight: 900;
}
.status{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
}
.signature{
    margin-top: 7px;
    width: 141px;
}
.cechy{
    background-image: url(../img/cechy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
}
.cechy-inside{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.cechy-titles{
    margin-top: 30px;
}
.cechy-title-inside{
    transform: translate(120px,-40px);
}
.cechy-subtitle{
    color: rgba(255, 255, 255, 0.11);
}
.cechy-title{
    color: #FFFFFF;
}
.cechy-info{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.cechy-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
}
.block-right{
    width: 45%;
}
.block-left{
    width: 45%;
}

.block-cechy-image{
    width: 24px;
    /* padding: 17px; */
}
.block-title{
    font-size: 16px;
    font-weight: 900;
    color: #FFFFFF;
}
.block-description{
    margin-top: 11px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}
.cechy-block-info{
    margin-left: 30px;
}

.block-cechy-image{
    border: 2px solid #FFFFFF;
    width: 24px;
    padding: 17px;
}
.interior{
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
}
.interior-info{
    width: 370px;
    height: 370px;
    box-shadow: 5px 5px 10px 10px #81818150;
    padding: 10px 60px;
    
    background-color: white;
    z-index: 3;
}
.interior-info-tran{
    transform: translate(45px, 80px);
}
.exterior-info{
    transform: translate(-45px, 80px);
}
.interior-title-inside{
    transform: translate(-120px, 25px);
}
.interior-subtitle{
    font-size: 50px;
}
.interior-title{
    font-size: 24px;
    font-weight: 700;
}
.ul-interior{
    display: flex;
    justify-content: space-between;
    height: 119px;
    margin-top: 25px;
}
.li-interior{
    list-style: none;
    display: flex;
    font-size: 14px;
    font-weight: 400;
}
.div-span{
    margin-right: 15px;
    width: 10px;
    height: 10px;
    border: 2px solid #1A68B5;
}
.p-interior{
    font-size: 14px;
    font-weight: 400;
}
.interior-img{
    width: 536px;
    height: 536px;
    z-index: 2;
}
.interior-titles{
    display: flex;
    justify-content: center !important;
}
.galeria{
    background-image: url(../img/cechy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    height: 544px;
}
.galeria-inside{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.galeria-carousel{
    width: 100%;
    margin: auto;
}
/* div */
.galeria-slide{
    /* height: 143px; */
    margin: auto;
    /* -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9); */
}
.galeria-slick-img{
    width: 220px;
    margin: auto;
    transform: scale(0.9);
    margin-top: 50px;
}
/* .galeria-carousel img{
    width: 202px;
    transform: scale(0.9);
} */
.galeria-carousel .slick-current img{
    width: 100%;
    /* height: 100%; */
    transform: scale(1.3);
    margin: auto;
}

.galeria-slider-arrows{
    position: relative;
}
.galeria-arrow-left{
    top: 140px;
    left: -94px;
}
.galeria-arrow-right{
    top: -147px;
    left: 1059px;
}
.galeria-title-inside{
    transform: translate(45px, -40px);
}
.spredaz{
    margin-top: 70px;
    margin-bottom: 50px;
}
.sprzedaz-title{
    color: #393939;
    font-size: 24px;
    font-weight: 900;
}
.sprzedaz-title-small{
    width: 200px !important;
}
.sprzedaz-title-inside{
    width: 200px;
    transform: translate(418px, -35px);
}
.sprzedaz-top-p{
    width: 70%;
    font-size: 14px;
    color: #393939;
    font-weight: 400;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 62px;
}
.sprzedaz-info{
    display: flex;
    justify-content: space-between;
}
.sprzedaz-img-div{
    width: 237px;
    height: 295px;
    border: 2px solid #1A68B5;

}
.sprzedaz-img{
    width: 237px;
    height: 295px;
    transform: translate(15px, 15px);
}
.sprzedaz-info-inside{
    width: 33.3%;
}
.sprzedaz-h5{
    color: #393939;
    font-size: 24px;
    font-weight: 900;
}
.sprzedaz-title-p{
    margin-top: 3px;
    color: #676767;
    font-size: 14px;
    font-weight: 400;
}
.sprzedaz-p{
    margin-top: 26px;
    color: #393939;
    font-size: 14px;
    font-weight: 400;
}
.sprzedaz-contact{
    margin-top: 104px;
    display: flex;
    flex-direction: column;
}
.phone-contact-sprzedaz{
    color: #393939;
    font-size: 14px;
    font-weight: 400;
}
.sprzedaz-phone{
    color: #1A68B5;
}
.email-contact-sprzedaz{
    color: #393939;
    font-size: 14px;
    font-weight: 400;
}
.sprzedaz-mail{
    color: #1A68B5;
}

.sprzedaz-form-main{
    width: 33.3%;
}
.form-info-h4{
    font-size: 24px;
    color: #393939;
    margin-bottom: 5px;
    /* width: 294px; */
    /* border-bottom: 2px solid #1A68B5; */
    /* border-width: 132px; */
}
.form-info-span{
    color: #1A68B5;
}
.bottom-line-sprzedaz{
    height: 2px;
    width: 132px;
    color: black !important;
    display: block;
    z-index: 10;
    /* border-bottom: 2px 132px solid #1A68B5; */
    margin-bottom: 35px;
}
.form-dane{
    width: 300px;
    height: 39px;
    border: 2px solid #777777;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
}
.form-dane::placeholder{
    font-size: 16px;
    color: #777777;
    padding: 20px;
    outline: none;
    padding: 20px;
}
.form-dane::placeholder:focus{
    color: #1A68B5;
}
.form-dane:focus{
    color: #1A68B5;
    border: 2px solid #1A68B5;
}
.form-telefon{
    margin-top: 20px;
}
textarea{
    margin-top: 20px;
    display: block;
    width: 260px;
    height: 123px;
    background-color: white;
    font-size: 16px;
    border: 2px solid #777777;
    transition: all 0.5s ease-in-out;
    padding: 20px;
    outline: none;
    margin-bottom: 40px;
    resize: none;
}
textarea:focus{
    border: 2px solid #1A68B5;
}
.checkbox-cl{
    color: #777777;
}