/* html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing:inherit;
} */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #2684D1;
  }
  
  ::selection {
    color:white;
    background: #2684D1;
  }
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:active, input:focus {
    outline: none;
  }
  input::-moz-focus-inner {
    border: 0;
  }
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
}
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: white;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}
  
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
  
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
  
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}
.container{
    width: 79%;
    margin: auto;
}
.container2{
    width: 70%;
    margin: auto;
}
.info-line{
    background-color: #1A68B5;
    height: 27px;
    display: flex;
    align-items: center;
}
.phone-contact{
    color: white;
}
.email-contact{
    color: white;
    margin-left: 80px;
}
.icon-phone, .icon-mail{
    padding-right: 10px;
}

.navbar{
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu-item{
    list-style: none;
}
.menu-item-link{
    text-decoration: none;
    font-weight: 400;
    color: #393939;
    transition: all 0.5s ease-in-out;
    padding-bottom: 5px;
    margin: 8px;
}
.menu-item-link:hover{
    color: #1A68B5;
}
.menu-item-link:focus{
    color: #1A68B5;
}
.underline{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.underline:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #1A68B5;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.underline:hover:before{
    right: 0;
}
.underline:focus:before{
    right: 0;
}
.kontakt-button{
    padding: 10px 25px;
    background-color: #1A68B5;
    color: white;
    border: 2px solid #1A68B5;
    transition: all 0.5s ease-in-out;
}
.kontakt-button:hover{
    color: #1A68B5;
    background-color: white;
}

.slide-1{
    background-image: url(../img/slogan-slider1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.slide-2{
    background-image: url(../img/slogan-slider2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.slide-3{
    background-image: url(../img/slogan-slider3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.slide-info{
    width: 635px;
    height: 228px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide-info-h3{
    color: #393939;
    font-size: 48px;
    font-weight: 800;
}
.slide-info-p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    margin-top: 3px;
}
.slide-info-button{
    padding: 10px 25px;
    background-color: #1A68B5;
    color: white;
    border: 2px solid #1A68B5;
    transition: all 0.5s ease-in-out;
    margin-top: 30px;
    font-size: 14px;
}
.slide-info-button:hover{
    color: #1A68B5;
    background-color: transparent;
}
.slider-arrows{
    position: relative;
}
.slider-arrow-left{
    top: 375px;
    left: -83px;
}
.slider-arrow-right{
    top: -321px;
    left: 1167px;
}
.slick-dots li button::before {
    position: relative !important;
    top: -80px !important;
    font-size: 30px !important;
    color: #FFFFFF !important;
    content: '■' !important;
    opacity: 1 !important;
}
.slick-dots li.slick-active button::before {
    color: #1A68B5 !important;
    content: '■' !important;
    opacity: 1 !important;
}
.o-nas{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.o-nas-img{
    border: 2px solid #1A68B5;
    width: 238px;
    height: 270px;
}
.o-nas-inner-img{
    transform: translate(23px, -23px);
}
.o-nas-info{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.onas-subtitle-h2{
    color: #4040401C;
    font-size: 50px;
    font-weight: 900;
}
.o-nas-title-inside{
    transform: translate(33px,-40px);
}
.onas-title-h3{
    color: #393939;
    font-size: 24px;
    font-weight: 900;
}
.onas-p{
    font-weight: 400;
    font-size: 14px;
    color: #393939;
    line-height: 19px;
}

.o-nas-bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.o-nas-bottom-img-div{
    border:2px solid #1A68B5;
    width: 80px;
    height: 80px;
}
.o-nas-bottom-img{
    transform: translate(11px, 10px);
}
.name{
    font-size: 16px;
    font-weight: 900;
}
.status{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
}
.signature{
    margin-top: 7px;
    width: 141px;
}
.cechy{
    background-image: url(../img/cechy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
}
.cechy-inside{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.cechy-titles{
    margin-top: 30px;
}
.cechy-title-inside{
    transform: translate(120px,-40px);
}
.cechy-subtitle{
    color: rgba(255, 255, 255, 0.11);
}
.cechy-title{
    color: #FFFFFF;
}
.cechy-info{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.cechy-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
}
.block-right{
    width: 45%;
}
.block-left{
    width: 45%;
}

.block-cechy-image{
    width: 24px;
    /* padding: 17px; */
}
.block-title{
    font-size: 16px;
    font-weight: 900;
    color: #FFFFFF;
}
.block-description{
    margin-top: 11px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}
.cechy-block-info{
    margin-left: 30px;
}

.block-cechy-image{
    border: 2px solid #FFFFFF;
    width: 24px;
    padding: 17px;
}
.interior{
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
}
.interior-info{
    width: 370px;
    height: 370px;
    box-shadow: 5px 5px 10px 10px #81818150;
    padding: 10px 60px;
    background-color: white;
    z-index: 3;
}
.interior-info-tran{
    transform: translate(45px, 80px);
}
.exterior-info{
    transform: translate(-45px, 80px);
}
.interior-title-inside{
    transform: translate(-120px, 25px);
}
.interior-subtitle{
    font-size: 50px;
}
.interior-title{
    font-size: 24px;
    font-weight: 700;
}
.ul-interior{
    display: flex;
    justify-content: space-between;
    height: 119px;
    margin-top: 25px;
}
.li-interior{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}
.div-span{
    margin-right: 15px;
    width: 10px;
    height: 10px;
    border: 2px solid #1A68B5;
}
.p-interior{
    font-size: 14px;
    font-weight: 400;
}
.interior-img{
    width: 536px;
    height: 536px;
    z-index: 2;
}
.interior-titles{
    display: flex;
    justify-content: center !important;
}
.galeria{
    background-image: url(../img/cechy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    height: 544px;
}
.galeria-inside{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.galeria-carousel{
    width: 100%;
    margin: auto;
}
/* div */
.galeria-slide{
    /* height: 143px; */
    margin: auto;
    /* -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9); */
}
.galeria-slick-img{
    width: 220px;
    margin: auto;
    transform: scale(0.9);
    margin-top: 50px;
}
/* .galeria-carousel img{
    width: 202px;
    transform: scale(0.9);
} */
.galeria-carousel .slick-current img{
    width: 100%;
    /* height: 100%; */
    transform: scale(1.3);
    margin: auto;
}

.galeria-slider-arrows{
    position: relative;
}
.galeria-arrow-left{
    top: 140px;
    left: -94px;
}
.galeria-arrow-right{
    top: -147px;
    left: 1059px;
}
.galeria-title-inside{
    transform: translate(45px, -40px);
}
.spredaz{
    margin-top: 70px;
    margin-bottom: 50px;
}
.sprzedaz-title{
    color: #393939;
    font-size: 24px;
    font-weight: 900;
}
.sprzedaz-title-small{
    width: 200px !important;
}
.sprzedaz-title-inside{
    width: 200px;
    transform: translate(418px, -35px);
}
.sprzedaz-top-p{
    width: 70%;
    font-size: 14px;
    color: #393939;
    font-weight: 400;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 62px;
}
.sprzedaz-info{
    display: flex;
    justify-content: space-between;
}
.sprzedaz-img-div{
    width: 237px;
    height: 295px;
    border: 2px solid #1A68B5;

}
.sprzedaz-img{
    width: 237px;
    height: 295px;
    transform: translate(15px, 15px);
}
.sprzedaz-info-inside{
    width: 33.3%;
}
.sprzedaz-h5{
    color: #393939;
    font-size: 24px;
    font-weight: 900;
}
.sprzedaz-title-p{
    margin-top: 3px;
    color: #676767;
    font-size: 14px;
    font-weight: 400;
}
.sprzedaz-p{
    margin-top: 26px;
    color: #393939;
    font-size: 14px;
    font-weight: 400;
}
.sprzedaz-contact{
    margin-top: 104px;
    display: flex;
    flex-direction: column;
}
.phone-contact-sprzedaz{
    color: #393939;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 21px;
}
.sprzedaz-phone{
    color: #1A68B5;
}
.email-contact-sprzedaz{
    color: #393939;
    font-size: 14px;
    font-weight: 400;
}
.sprzedaz-mail{
    color: #1A68B5;
}

.sprzedaz-form-main{
    width: 33.3%;
}
.sprzedaz-form-info{
   margin-bottom: 40px; 
}
.form-info-h4{
    font-size: 24px;
    color: #393939;
}
.form-info-span{
    color: #1A68B5;
}

form{
    width: 300px;
}
.form-dane{
    width: 280px;
    border: 2px solid #777777;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    padding: 10px;
}
.form-dane::placeholder{
    font-size: 16px;
    color: #777777;
    /* padding: 20px; */
    outline: none;
}
.form-dane::placeholder:focus{
    color: #1A68B5;
}
.form-dane:focus{
    color: #1A68B5;
    border: 2px solid #1A68B5;
}
.form-telefon{
    margin-top: 20px;
}
textarea{
    margin-top: 20px;
    display: block;
    width: 280px;
    height: 123px;
    background-color: white;
    font-size: 16px;
    border: 2px solid #777777;
    transition: all 0.5s ease-in-out;
    padding: 10px;
    outline: none;
    margin-bottom: 25px;
    resize: none;
}
textarea:focus{
    border: 2px solid #1A68B5;
}
textarea:focus::-webkit-input-placeholder {
    color: #1A68B5;
}
textarea:focus::-moz-placeholder {
    color: #1A68B5;
}
textarea:focus:-ms-input-placeholder {
    color: #1A68B5;
}
input[type="text"]:focus::-webkit-input-placeholder {
    color: #1A68B5;
}
input:focus::-moz-placeholder {
    color: #1A68B5;
}
input:focus:-ms-input-placeholder {
    color: #1A68B5;
}

.check-box-info{
    margin-left: 12px;
    font-size: 13px;
    font-weight: 400;
    color: #777777;
    
}
.button-submit{
    margin-top: 20px;
}
.submit-button{
    float: right;
    padding: 12px 30px;
    color: white;
    background-color:#1A68B5; 
    border: 2px solid #1A68B5;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}
.submit-button:hover{
    background-color: white;
    color: #1A68B5;
    border: 2px solid #1A68B5;
}
.mapbox{
    margin-bottom: 36px;
}
.footer-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.footer-column{
    width: 33.3%;
}
.footer-left-title{
    margin-bottom: 16px;
}
.footer-title-h4{
    color: #1A68B5;
    font-size: 18px;
    font-weight: 700;
}
.contact{
    color: #393939;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    transition: all 0.3s ease-in-out;
}
.contact:hover{
    color: #1A68B5;
}
.span-footer{
    color: #9F9F9F;
    
}

.footer-contact{
    display: flex;
    flex-direction: column;
}
.footer-social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 38px;
}
.social{
    width: 21px;
    height: 21px;
    background-color: #1A68B5;
    padding: 5px;
    border-radius: 50px;
    color: white;
    margin-right: 24px;
    border: 1px solid #1A68B5;
    transition: all 0.5s ease-in-out;
    text-align: center;
}
.social:hover{
    background-color: white;
    border: 1px solid #1A68B5;
}
.social:hover > .footer-icon{
    color: #1A68B5;
}
.footer-icon{
    color: white;
    font-size: 16px;
}
.kon-social-i{
    text-align: center;
}
.kon-social-i:hover{
    background-color: white;
    border: 1px solid white;
    text-align: center;
}
.kon-social-i:hover > .kon-icon{
    color: #1A68B5;
}
.kon-icon{
    font-size: 20px;
    color: white;
    margin-right: 7px;
}
.menu-footer{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.menu-links{
    margin-bottom: 6px;
    color: #393939;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.menu-links:hover{
    color: #1A68B5;
}
.footer-numbner{
    font-size: 24px;
    font-weight: 700;
    color: #1A68B5;
    margin-top: 15px;
}

.column-info{
    display: flex;
    flex-direction: column;
}
.footer-bottom{
    border-top: 1px solid #E8E8E8;
}
.bottom-inside{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}
.all-rights{
    font-size: 14px;
    color: #393939;
    font-weight: 700;
    margin-left: 400px;
}
.agencja{
    color: #393939;
    font-size: 14px;
    font-weight: 400;
    margin-left: 123px;
}
.link-bottom{
    font-weight: 700;
    text-decoration: none;
    color: #393939;
    transition: all 0.5s ease-in-out;
}
.link-bottom:hover{
    color: #1A68B5;
}
.footer-logo-div{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-height: 50px;
    flex-direction: row;
}
.footer-logo{
    width: 130px;
    margin-top: 71px;
}


/* -------------------------PROJEKTY PAGE -------------------------------------------- */
.isotop-galery{
    margin-top: 68px;
    margin-bottom: 100px;
}
.grid-button{
    font-size: 14px;
    font-weight: 400;
    color: #1A68B5;
    border: none;
    cursor: pointer; 
    transition: all 0.3s ease-in-out;
    margin-right: 40px;
    margin-bottom: 40px;
}
.grid-button:hover{
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #1A68B5;
    margin-bottom: 9px;
    border-bottom: 2px solid #1A68B5;
}
.grid-button:focus{
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #1A68B5;
    margin-bottom: 9px;
    border-bottom: 2px solid #1A68B5;
}
.is-checked{
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #1A68B5;
    margin-bottom: 9px;
    border-bottom: 2px solid #1A68B5;
}

.grid{
    width: 1140px; 
}
.portfolio-grid {
    max-height: 947px;
}
.grid-item img{
    width: 252px;
    height: 130px;
    margin-bottom: 20px;
}
.gutter-sizer{
    width: 40px;
}
/* --------------------------------------- O NAS PAGE ------------------------------------------------*/
.onas-main{
    height: 643px;
}
.onas-new-info{
    height: 850px;
}
.o-nas-p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}
.galeria-slide-onas{
    margin: auto;
}
.galeria-carousel-onas{
    width: 100%;
    margin: auto;
}
.count{
    color: white;
}
.nas-subtitle{
    color: rgba(255, 255, 255, 0.11);
}
.nas-title{
    color: white;
    transform: translate(-85px, 7px);
}
.onas-p-div{
    margin-top: 40px;

}
.counter-div{
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.count{
    font-weight: 700;
    font-size: 26px;
    color: #1A68B5;
    margin: auto;
}
.counter-info{
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: auto;
}
.onas-white-block{
    margin-top: 40px;
    background-color: white;
    padding: 44px 92px 60px 60px;
    box-shadow: 5px 10px 10px #7c78783f;
}
.cehy-onas{
    margin-top: 90px !important;
}
.onas-block-title{
    text-transform: uppercase;
    color: #1A68B5;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.insie-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inside-block-img-div{
    border: 2px solid #1A68B5;
    width: 200px;
    height: 117px;
}
.inside-block-img{
    transform: translate(15px, 15px);
}
.inside-block-p-div{
    width: 65%;
}
.block-mt{
    margin-top: 103px;
}
.footer-column-inside{
    margin: auto;
}
.cechy-o-nas{
    background-image: url(../img/cechy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
}
.kontact-block-div{
    margin-top: 59px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 439px;
    margin-bottom: 60px;
}
.kont-block{
    padding: 26px 33px 40px 33px;
    width: 401px;
    
}
.kon-black{
    background-color: #212121;
}
.kon-blue{
    background-color: #1A68B5;
}
.kon-block-title{
    font-weight: 700;
    font-size: 24px;
    color: white;
}
.kon-info{
    margin-top: 35px;
    
}
.kon-container{
    height: 100px;
}
.kon-line{
    margin-top: 30px;
}

.kon-ad{
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.kon-span{
    color: #676767;
}
.block-button-div{
    margin-top: 113px;
    
}
.kon-block-button{
    font-size: 14px;
    font-weight: 700;
    padding: 18px 115px;
    display: block;
    text-align: center;
}
.kon-b-map{
    background-color: #1A68B5;
    color: white;
    border: 2px solid #1A68B5;
    transition: all 0.5s ease-in-out;
}
.kon-b-map:hover{
    color: white;
    border: 2px solid white;
    /* border-color: white; */
}

.p-kon-div{
    margin-top: 63px;
}
.kon-p{
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    color: white;   
}
.kon-b-kontakt{
    color: #393939;
    background-color: white;
    border: 2px solid white;
    box-sizing: border-box;
    
}
.kon-b-kontakt:hover{
    color: white;
    background-color: #1A68B5;
    
}
/* .soc-kon{
    color: #1A68B5;
    background-color: white;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
}
.soc-kon:hover{
    color: white;
    background-color: #1A68B5;
    border: 1px solid white;
} */
.kon-i{
    font-size: 20px;
    color: #1A68B5;
}

.soc-kon{
    background-color: white;
    border: 1px solid white;
}
.mobile-menu{
    display: none;
}

/* Responsive - start with phone */
@media screen and (min-width: 315px) and (max-width: 425px){
    .info-line{
        width: 100%;
    }
    .t-con-res{
        font-size: 12px;
    }
    .icon-info{
        font-size: 11px;
    }
    .email-contact{
        margin-left: 30px;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    .container{
        width: 82%;
    }
    .top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        height: 65px;
        width: 90%;
        margin: auto;
        margin-top: 7px;
    }
    .mobile-logo{
        width: 200px;
    }
    .mobile-burger-img{
        width: 40px;
    }
    .menu-mobile-block{
        margin-top: 40px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .menu-mobile-block li a{
        text-decoration: none;
        color: #66667E;
        font-weight: 500;
        font-size: 15px;
        transition: color 0.5s ease;
        
    }
    .menu-mobile-block li{
        margin-bottom: 23px;
        text-align: center;
    }
    .toggle-button-i{
        font-size: 30px;
        color: #1A68B5;
    }
    .slide-1{
        height: 166px;
    }
    .slide-2{
        height: 166px;
    }
    .slide-3{
        height: 166px;
    }
    .slide-info{
        width: 100%;
    }
    .slide-info-h3{
        color: #393939;
        font-size: 18px;
        font-weight: 800;
    }
    .slide-info-p{
        color: #6C6C6C;
        font-size: 14px;
        font-weight: 400;
        margin-top: 3px;
    }
    .slick-dots li button::before{
        color: #66667E !important;
        top: -10px !important;
        font-size: 15px !important;
    }
    .container2{
        width: 82%;
    }
    .o-nas{
        flex-direction: column;
    }
   
    .o-nas-inner-img{
        transform: translate(13px, -13px);
    }
    .o-nas-info{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .name{
        font-size: 14px;
    }
    .status{
        font-size: 11px;
    }
    .cechy-subtitle{
        font-size: 23px;
    }
    .cechy-title{
        font-size: 23px;
    }
    .cechy-title-inside{
        transform: translate(20px,-40px);
    }
    .cechy-info{
        margin-top: 25px;
    }
    .cechy-block{
        flex-direction: column;
    }
    .cechy-block-info{
        margin-left: 0;
    }
    .block-title{
        font-size: 13px;
        height: 35px;
        font-weight: 800;
        margin-top: 6px;
    }
    .block-description{
        font-size: 13px;
    }
    .interior{
        flex-direction: column;
        margin-top: 32px;
        align-items: center;
    }
    .interior-info{
        width: 270px;
        height: 370px;
        padding: 15px;
        order: 2;
    }

    .interior-info-tran{
        transform: none;
    }
    .interior-img{
        width: 270px;
        height: unset;
        margin-bottom: 20px;
    }
    .interior-img img{
        width: 100%;
        order: 1;
    }
    .p-interior{
        font-size: 13px;
    }
    .exterior-info{
        transform: none;
    }
    .galeria-slide{
        margin: unset;
    }
    .galeria{
        height: 363px;
        margin-top: 40px;
    }
    .galeria-carousel .slick-current img{
        transform: none;
        margin: unset;
        width: 220px;
    }
    .galeria-slick-img{
        margin: unset;
        width: 220px;
        transform: none;
        margin-top: unset;
    }
    .galeria-title-inside{
        transform: translate(20px, -25px);
    }
    .sprzedaz{
        margin-top: 35px;
    }
    .sprzedaz-title{
        font-size: 23px;
    }
    .sprzedaz-subtitle{
        font-size: 30px;
    }
    .sprzedaz-title-inside{
        margin-left: -350px;
        margin-top: 15px;
        /* transform: translate(80px, -25px); */
    }
    .sprzedaz-info{
        flex-direction: column;
    }
    .sprzedaz-top-p{
        margin: 20px auto 30px;
        width: 100%;
    }
    .sprzedaz-img-dv{
        width: 207px;
        height: 255px;
    }
    .sprzedaz-img{
        width: 100%;
        /* width: 207px;
        height: 255px; */
    }
    .sprzedaz-info-inside{
        width: 100%;
        margin-top: 25px;
    }
    .sprzedaz-contact{
        margin-top: 20px;
    }
    .sprzedaz-form-info{
        margin-top: 20px;
    }
    .sprzedaz-form-main{
        width: 100%;
        margin-top: 50px;
    }
    .form-dane{
        width: 240px;
    }
    textarea{
        width: 240px;
    }
    .check-box-info{
        width: 200px;
    }
    form{
        width: 270px;
    }
    .footer-main{
        flex-direction: column;
    }
    .footer-column{
        width: 100%;
    }
    .contact{
        font-size: 13px;
    }
    .footer-social-links{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .menu-footer{
        margin-bottom: 25px;
    }
    .footer-logo{
        margin-top: 30px;
    }
    /* .footer-bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
    } */
    .bottom-inside{
        flex-direction: column;
        align-items: center;
    }
    .all-rights{
        margin-left: unset;
    }
    .agencja{
        margin-left: unset;
        text-align: center;
        margin-top: 15px;
    }
    .slider-arrows{
        display: none !important;
    }
    .galeria-slider-arrows{
        display: none !important;
    }
}